body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gold;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

/* target sections in main */
main>section {
    border:solid 1px black;
    display:inline-block;
    margin:30px
}
/* Your code here */