/* You're welcome to change any of this! */
* {
    box-sizing:border-box;
}

header {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration:underline;
}
    .navbar {
        padding: 15px;
        background-color: #93e8b3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar a, .navbar strong {
        margin-right: 15px;
    }
}
body {
    margin: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}