@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

h1, h2 {
    font-family: 'Sacramento';
}

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */