html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
    /* border: solid red 2px; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

nav {
    display:flex;
    justify-content:space-between;
    width:100vw;
        background-color: #686868;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 10px;
        height: auto;
}
nav a {
    color: #f2f2f2;
    text-decoration: none;
  }

ul {
    display:flex;
    /* width:100vw; */
    list-style-type: none;
    column-gap: 10px;
    padding-right:25px;
}